<!DOCTYPE html>
<html>
<header>
</header>
  <body>
    <head>
      <h1><%= link_to 'Jeffrey\'s Mom', root_path %></h1>
    </head>

    <nav>
      <%= link_to 'Home', root_path %> <%= link_to 'JM\'s Reviews', articles_path %> <%= link_to 'Post a Review', new_article_path %>
    </nav>

    <div class='box-post'>
      <div class='section-post'>
          <% @articles.each do |article| %>

          <img src="<%= article.img_url %>"/>
          <p><%= article.title %></p>
          <p><%= article.text %></p>
          <p class="post-menu"><%= link_to 'View Post', article_path(article) %> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Delete', article_path(article),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    </div>



  <footer>
    <%= link_to 'Back', articles_path %>
  </footer>

</body>
</html>
