<h1>Jeffrey's Mom</h1>
<%= link_to 'Post a Review', new_article_path %>

<div>

    <p>Title</p>
    <p>Text</p>


  <% @articles.each do |article| %>
      <div class ="article">
<img src="<%= article.img_url %>"/>
      <p><%= article.title %></p>
      <p><%= article.text %></p>
      <p><%= link_to 'View Post', article_path(article) %></p>
      <p><%= link_to 'Delete', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>
