<!DOCTYPE html>
<html>
<header>
</header>
  <body>

      <h2><%= 'JM\'s Reviews' %></h2>
    <div class='review-post'>
      <div class='post'>
          <% @articles.each do |article| %>
          <img src="<%= article.img_url %>"/>
          <h3><%= article.title %></h3>
          <p><%= article.text %></p>
          <p class="post-menu"><%= link_to 'View', article_path(article) %> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Delete', article_path(article),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    </div>

</body>
</html>
