<!DOCTYPE html>
<html>
<header>

</header>
  <body>
    <head>
      <h1><%= link_to 'Jeffrey\'s Mom', root_path %></h1>
    </head>

    <nav>
      <%= link_to 'Home', root_path %> <%= link_to 'JM\'s Reviews', articles_path %> <%= link_to 'Post a Review', new_article_path %>
    </nav>

<div class='box-show'>
    <div class='section-show'>

      <img src="<%= @article.img_url %>"/>
      <p><h2><%= @article.title %></h2></p>
      <p><h3><%= @article.text %></h3></p>   <%= link_to 'Edit Post', edit_article_path(@article) %>
    </div>
</div>

<div class='box-show2'>
  <div class='section-show2'>
      <h2>Comments</h2>
        <% @article.comments.each do |comment| %>
          <p><%= comment.commenter %></p>
          <p><%= comment.body %></p>
        <% end %>

      <h3>Add a comment:</h3>
        <%= form_for([@article, @article.comments.build]) do |f| %>
          <p><%= f.label :name%><br>
              <%= f.text_field :commenter %></p>
          <p><%= f.label :comment %><br>
              <%= f.text_area :body %></p>
          <p><%= f.submit %> <%= link_to 'Edit Comment', edit_article_comment_path(@article) %></p>
              <% end %>
    </div>
  </div>


    <footer>
      <%= link_to 'Back', articles_path %>
    </footer>
</body>
</html>
