<!DOCTYPE html>
<html>
<header>
</header>

  <head>
<h1><%= link_to 'Jeffrey\'s Mom', root_path %></h1>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'JM\'s Reviews', articles_path %>
      <%= link_to 'Post a Review', new_article_path %>
    </nav>

      <div class="article-edit-comment">
        <div class="article">
            <%= form_for [@article, @comment] do |f| %>
              <h3><%= @article.title %></h3>
              <img src="<%= @article.img_url %>"/>
              <p><%= @article.text %></p>
        </div>
      </div>


      <div class="comment-box">
        <div class='comments'>
          <h3>Edit Comment</h3>
            <p>
              <%= f.label :name%><br>
              <%= f.text_field :commenter %>
            </p>
            <p>
              <%= f.label :comment %><br>
              <%= f.text_area :body %>
            </p>
            <p>
              <%= f.submit :value => "Edit Comment", :class => "submit"%>
          <% end %>
        </div>
      </div>

    <footer>
    <%= link_to 'Back', articles_path %>
    </footer>


</body>
</html>
