<!DOCTYPE html>
<html>
<header>
</header>

  <head>
  <h1><%= link_to 'Welcome to Jeffrey\'s Moms Blog', root_path %></h1>
  </head>

<body>
  <nav>
  <%= link_to 'Home', root_path %> <%= link_to 'JM\'s Reviews', articles_path %> <%= link_to 'Post a Review', new_article_path %>
  </nav>
  <div class='box'>
    <section class="section-1">
        <div>
          <h2><%= 'Black Friday Listings' %></h2>
          <%= image_tag("http://www.lovebrownsugar.com/wp-content/uploads/2014/12/dolllogo.jpg", :alt => "mommy and baby") %>
          <%= link_to 'Pardon My Fro', src='https://pardonmyfro.com/'%>
        </div>
    </section>


    <aside class='aside'><p class="sign-up">Sign In Sign Up</p></aside>
    </div>
    <footer>
    </footer>

</body>
</html>
