<!DOCTYPE html>
<html>
<header>
</header>


<body>


  <div class='box'>
    <div class="news-feed">
          <h2><%= 'Black Friday Listings' %></h2>
          <p><%= image_tag("http://www.lovebrownsugar.com/wp-content/uploads/2014/12/dolllogo.jpg", :alt => "mommy and baby") %></p>
          <p><%= link_to 'Pardon My Fro', src='https://pardonmyfro.com/'%><p>

            <p><%= image_tag("https://cdn.shopify.com/s/files/1/0978/9494/products/IMG_7285-Edit-2_3e2f0642-fc02-4e91-b108-19c3073ff136_large.jpg?v=1487558480", :alt => "Toni Daley") %></p>
            <p><%= link_to 'Toni Daley', src='https://www.tonidaley.com/'%><p>

    </div>

    </div>



</body>
</html>
